//fuente
@font-face {
    font-family: silverado;
    src: url(../recursos/fonts/SilveradoPersonalUseRegular-ALl36.ttf);
}

//variables
$color-de-fondo-pag1: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
